body {
    font-family: 'Roboto', sans-serif;
    background-color: #34495e;
}
.header {
    position: relative;
    border-top: 1px solid #ff3366;
}
.header .logo {
    max-width: 150px;
    margin: 20px auto;
    display: block;
}
.header-text {
    margin: 40px auto 20px;
    display: block;
}
.home-banner > .container {
    max-width: 1000px;
}
.as-seen-on {
    background: #fff;
    padding: 30px 0 30px 0;
    margin: 40px 0 40px 0;
}
.seen-on-img {
    max-width: 600px;
    display: block;
    margin: 0 auto;
}
.about-img {
    max-width: 270px;
    margin: 50px auto 0;
    display: block;
    border: 5px solid #fff;
    -webkit-box-shadow: 0px 10px 6px -6px #999;
    -moz-box-shadow: 0px 10px 6px -6px #999;
    box-shadow: 0px 10px 6px -6px #999;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: .3s;
}

.seen-on-img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: .3s;
}
.seen-on-img:hover {filter: grayscale(0%);-webkit-filter: grayscale(0%);}
.about-img:hover {filter: grayscale(0%);-webkit-filter: grayscale(0%);}
.about-us > .container > .row {
    margin: 0 120px 0 120px;
}
.about-us-info {
    text-align: center;
}
                                                                /*from index*/
    .intgrtn-input { width:100%; height:2.5em; }

    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        display:block;
        right:10%;
        top:20%;
        z-index: 99;
        position: fixed;
        text-align:center;
        display: none;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    /*pop-up-css-start*/


    .popup {
        position: fixed;
        padding: 10px;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #fff;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .5s, visibility 0s linear .5s;
        transition: opacity .5s, visibility 0s linear .5s;
        z-index: 1;
        width: 90%;
        height: 550px;
        overflow-y: auto;
        z-index: 9999;
    }
    .popup:target {
        visibility: visible;
        opacity: 1;
        /* cancel visibility transition delay */
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    .popup-close {
        position: absolute;
        padding: 10px;
        max-width: 500px;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: rgba(255,255,255,.9);
    }
    .popup .close {
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 5px;
        color: #000;
        transition: color .3s;
        font-size: 2em;
        line-height: .6em;
        font-weight: bold;
    }
    .popup .close:hover {
        color: #00E5EE;
    }

    .close-popup {
        background: rgba(0,0,0,.7);
        cursor: default;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity .5s, visibility 0s linear .5s;
        transition: opacity .5s, visibility 0s linear .5s;
        z-index: 999;
    }
    .popup:target + .close-popup{  
        opacity: 1;
        visibility: visible;
        /* cancel visibility transition delay */
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }

    /*pop-up-css-end*/
                                                                /*from index*/

                                                                /*from index*/
.hide{display:none;}
    .signup-form, .form-wrap {
  min-height: unset;
}
.signup-form .intgrtn-form-signup .intgrtn-input-holder, .form-wrap .intgrtn-form-signup .intgrtn-input-holder {
  margin-bottom: 17px;
}
.signup-form .intgrtn-form-signup .intgrtn-input-holder .intgrtn-input, .form-wrap .intgrtn-form-signup .intgrtn-input-holder .intgrtn-input {
  -webkit-appearance: none;
  font-size: 15px;
  opacity: 1;
  font-weight: 300;
  color: #666;
  padding: 10px 5px;
}
 .intgrtn-btn-submit {
  display: block;
  width: 100%;
  color: #fff;
  background: #f36;
  font-size: 22px;
  font-weight: 700;
  padding: 9px 0;
  margin: 15px 0 10px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: inset 0 -4px 0px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
     transition: .3s;
}
.intgrtn-btn-submit:hover {
  box-shadow: none;
  background: #ff668c;
}
.form-wrap {
  padding: 30px 0;
}

    .intl-tel-input{
        width:100%;
    }
    @-webkit-keyframes loader {
        0% {
            width: 0;
        }
        20% {
            width: 10%;
        }
        25% {
            width: 24%;
        }
        43% {
            width: 41%;
        }
        56% {
            width: 50%;
        }
        66% {
            width: 52%;
        }
        71% {
            width: 60%;
        }
        75% {
            width: 76%;
        }
        94% {
            width: 86%;
        }
        100% {
            width: 100%;
        }
    }

    @keyframes loader {
        0% {
            width: 0;
        }
        20% {
            width: 10%;
        }
        25% {
            width: 24%;
        }
        43% {
            width: 41%;
        }
        56% {
            width: 50%;
        }
        66% {
            width: 52%;
        }
        71% {
            width: 60%;
        }
        75% {
            width: 76%;
        }
        94% {
            width: 86%;
        }
        100% {
            width: 100%;
        }
    }
    .progress-bar {
        border-radius: 60px;
        overflow: hidden;
        width: 100%;
    }
    .progress-bar span {
        display: block;
    }

    .bar {
        background: rgba(0, 0, 0, 0.075);
    }

    .progress {

        -webkit-animation: loader 40s ease forwards;
        animation: loader 40s ease forwards;
        background: #75b800;
        color: #fff;
        padding: 5px;
        width: 0;
    }

    .progress-bar {
        top: 20px;
        bottom: 20px;
        left: 50%;
        max-width: 90%;
        position: relative;
        height: 15px;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
                                                                    /*from index*/
.about-us-info .div-wrap {
    float: left;
    width: 100%;
    margin: 8px 0 8px 0;
}
.about-us-info .about-img-wrap {
    position: relative;
    height: 100%;
}
.about-us-info .divider {
    width: 30%;
    float: left;
    height: 5px;
    background: #ff3366;
}
.about-us-info p {
    color: #fff;
    opacity: 0.8;
    margin: 0;
}
.about-us-info .title {
    font-size: 41px;
    font-weight: bold;
    opacity: 1;
}
.about-us-info .pos {
    font-size: 23px;
    opacity: 1;
}
.about-us-info .earnings {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    opacity: 1;
}
.about-us-info .sign {
    font-family: 'Roboto', cursive, sans-serif; 
    font-size: 50px;
    font-weight: bold;
    opacity: 1;
    margin: 20px 0 12px 0;
}
.features {
    background: #fff;
    padding: 40px 0 40px 0;
}
.features > .container > .row {
    width: 80%;
    margin: 0 auto;
}
.features .feature-info {
    text-align: center;
}
.features .feature-info p {
    font-family: 'Roboto', sans-serif;
}
.features .fa {
    font-size: 55px;
}
.features .feature-info .title {
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-weight: bold;
    margin: 20px 0 12px 0;
}
.features .feature-info .subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.bank-acc {
    text-align: center;
    padding: 60px 0 40px 0;
}
.bank-acc p {
    margin: 0;
}
.bank-acc .title {
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    line-height: 1.1;
}
.bank-acc .subtitle {
    font-size: 23px;
    color: #fff;
}
.bank-acc .div-wrap {
    width: 100%;
    float: left;
}
.bank-acc .divider {
    width: 25%;
    margin: 12px auto 30px;
    height: 5px;
    background: #ff3366;
}
.license-wrap {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 280px;
    display: flex;
}
.license-count {
    float: left;
    width: 25%;
    position: relative;
}
.license-info {
    float: right;
    width: 75%;
    color: #fff;
}
.license-count .count {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: 2px solid #ff3366 ;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 26px;
    color: #ff3366 ;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.license-info .license-left {
    letter-spacing: 0.4em;
}
.license-info span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
    display: block;
    text-transform: uppercase;
}
.license-info span.date {
    display: inline;
}
.floating-earnings {
    position: fixed;
    bottom: 30px;
    left: 30px;
    border-radius: 60px;
    background: #fff;
    -webkit-box-shadow: -5px 9px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -5px 9px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -5px 9px 10px 0px rgba(50, 50, 50, 0.75);
    padding: 0 30px 0 0;
    opacity: 0;
    -webkit-transition: opacity 300ms ease-out 0s;
    -moz-transition: opacity 300ms ease-out 0s;
    -o-transition: opacity 300ms ease-out 0s;
    transition: opacity 300ms ease-out 0s;
}

.floating-earnings.show {
    opacity: 1;
}

.floating-earnings img {
    position: relative;
    top: -4px;
    left: 2px;
}

.floating-earnings .earning-info {
    position: relative;
    top: 12px;
    left: 6px;
    display: inline-block;
}

.floating-earnings span {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: block;
}

.floating-earnings span.earner-name {
    font-weight: bold;
    display: inline;
}

.floating-earnings span.earner-amount {
    font-weight: bold;
    display: inline;
    color: #ff3366;
}

.floating-earnings .with {
    font-size: 14px;
    color: rgba(33,33,33,0.5);
}
.form-wrap {
    min-height: 600px;
    background: #fff;
}
.footer {
    text-align: center;
    color: #fff;
    padding: 30px 0 30px 0;
}
.footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}
.footer a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}
.form-wrap {
    padding: 100px 0 100px 0 !important;
}

.embed-container { position: relative; 
    padding-bottom: 56.25%; 
    height: 0; overflow: hidden; max-width: 100%; 
    } 
    .embed-container iframe, .embed-container object, .embed-container embed
     { 
        position: absolute; top: 0; 
        left: 0; width: 100%; height: 100%;
      }
@media all and (max-width: 1200px) {
    .header-text {
        max-width: 100%;
    }
    .seen-on-img {
        max-width: 100%;
    }
}
@media all and (max-width: 990px) {
    .header-text,.header-title {
        display: none!important;
    }
    .home-banner .signup-form {
        padding: 40px 0 0 0;
    }
    .about-img {
        position: relative;
        top: auto;
        left: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        margin-bottom: 20px;
    }
    .about-us > .container > .row {
        margin: 0;
    }
    .license-wrap {
        position: relative;
        margin: 20px auto 20px;
        left: auto;
        top: auto;
    }
    .license-count {
        width: 10%;
        margin-left: 10%;
    }
    .license-info {
        width: 75%;
    }
    .license-info .license-left {
        text-align: center;
    }
    .license-info span {
        font-size: 12px;
        text-align: center;
    }
    .floating-earnings {
        display: none !important;
    }
    .form-wrap {
        min-height: 500px;
    }
}

.anticlicker {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 5;
}

.header-form {
    /*background-color: rgba(255, 255, 255, 0.5);*/
    /*border-radius: 7px;*/
    /*padding: 20px 15px;*/
}

form input {
    border: 1px solid #dfdfdf;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 90px;
    color: #333;
    border-radius: 3px;
    font-size: 1em;
    padding: 6px 12px;
    padding-left: 40px!important;
    height: 40px;
    background-image: url(../fonts/icon.svg) !important;
    background-size: 40px 480px;
    background-repeat: no-repeat;
    transition: background-color 100ms linear, border 50ms linear;
}

form input.firstname {
    background-position: 0 0
}

form input.firstname:focus {
    background-position: 0 -240px
}

form input.lastname {
    background-position: 0 -40px
}

form input.lastname:focus {
    background-position: 0 -280px!important;
}

form input.email {
    background-position: 0 -160px
}

form input.email:focus {
    background-position: 0 -400px
}

form input.password {
    background-position: 0 -200px;
    padding-right: 35px;
}

form input.password:focus {
    background-position: 0 -440px
}
form input.phone {
    padding-left: 110px;
    background-position: 100% -120px;
    padding-right: 30px;
}

form input.phone:focus {
    background-position: 100% -360px
}

.form-group {
    margin-bottom: 10px;
}

.error {
    border: 1px solid red!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

label {
    display: block;

}
label.error {
    color: white;
    background-color: red;
    padding: 4px 6px;
    position: relative;
    z-index: 1;
    font-size: 12px;
    width: 95%;
    text-align: center;
    bottom: 1px;
    margin: auto;
}

.showMain {
    display: block;
    position: absolute;
    width: 28px;
    cursor: pointer;
    top: 9%;
    right: 1%;
    z-index: 1050;
    pointer-events: auto;
}


.valid-check label::before {
    content: "";
    display: block;
    position: absolute;
    /* top: 0; */
    left: -28px;
    width: 2.5em;
    height: 2em;
    background-image: url(../images/false.png);
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
}
.valid-check.check label::before {
    content: "";
    display: block;
    position: absolute;
    /* top: 0px; */
    left: -18px;
    width: 14px;
    height: 25px;
    background-image: url(../images/true.png);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
}

.valid-check {
    text-align: left;
}

.valid-check label {
    color: #f90201 !important;
    padding: 0px 10px;
    position: relative;
    text-align: left !important;
    font-size: 0.7em;
}


.valid-block label {
    background: transparent;
}

.valid-block {
    padding-left: 25px;
    position: relative;
}

.check label {
    color: #93c025 !important;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.phone {
    padding-left: 90px!important;
}


/*POPUP*/

.hover-modal {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 10px;
    z-index: 9999;
}

.popup_custom {
    position: fixed;
    z-index: 9997;
    display: none;
    height: 100%;
    right: -20px;
    left: -20px;
}

.popup_custom .popup_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
    z-index: 9994;
}
.popup_custom .close_button {
    font-weight: bold;
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;
    color: #fa5258 ! important;
    z-index: 9995;
    font-size: 80px;
}
.popup_custom .popup_inner .popup_content {
    /*margin: 100px auto 0 auto;*/
    width: 100%;
    max-width: 610px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 9999;
}
.popup_custom .popup_content_inner {
    position: relative;
    text-align: center;
    padding: 20px;
    z-index: 9998;
}
.popup_custom .title {
    color: #fa5258;
    font-weight: bold;
    font-style: italic;
    font-size: 70px;
    font-family: sans-serif;
    line-height: 1.2;
}
.popup_custom .subtitle {
    font-size: 30px;
    font-weight: normal;
    font-family: sans-serif;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 15px;
}
.popup_custom .subtitle b {
    color: #f7931a;
}
.popup_custom .popup_form {
    text-align: center;
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
}

@media screen and (max-height:800px){
    .popup_custom .popup_inner .popup_content{
        margin: 0px auto 0 auto;
    }
    .popup_custom .subtitle{
        font-size: 28px;
    }
    .popup_custom .title{
        font-size: 54px;
    }
}

#blink {
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
    font-weight: bold;
    color: #F00;
}

@-webkit-keyframes blink {
    0% { color: #F00; }
    50% { color: #FBB; }
    100% { color: #F00; }
}

@keyframes blink {
    0%  {color: #F00;  }
    25% { color: #4eb2c3; }
    50% { color: #FBB; }
    75% { color: #FBB; }
    100% { color: #F00; }
}
@media screen and (max-height: 768px){
    .popup_custom .title{
        font-size: 60px;
    }
    .popup_custom .subtitle{
        font-size: 30px;
    }
}

/*end Popap*/

form input {
    height: 40px!important;

}

.form-control:focus {
    box-shadow: none;
}

/*#password-error {*/
    /*display: none !important;*/
/*}*/

.flag-container {
    height: 40px;
}

.selected-flag {
    outline: 0;
}

.goldman {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
    -webkit-margin-before: 0.3em;
    -webkit-margin-after: 0.2em;
    background-image: -webkit-linear-gradient(#FFF65C 45%, #9A8000 75%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.09), -1px -1px 0 rgba(255, 220, 0, 0.670);
}

.p-video {
    text-decoration: underline;
}

.header-title {
    display: inline-block;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    font-family: Roboto;
    letter-spacing: .3px;
    margin: 40px auto 20px;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline:after {
    content: '';
    background: url(../images/custom-underline.png);
    display: block;
    position: absolute;
    height: 12px;
    width: 95%;
    background-size: contain;
}
.input-password__block {
    position: relative;
}

.country-list {
    font-size: 0.8em;
}
/*TOOLTIP FOR PASSWORD*/

.tooltip {
    display: none;
    max-width: 220px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /*bottom: 50px;*/
    bottom: 0;
    right: 0;
    padding: 5px 0;
    font-family: consolas,monospace;
    position: absolute;
    z-index: 1;
    opacity: 1;
    padding: 5px 0 5px 30px;
}

.input-password__block label{
    pointer-events: none;
}

/*.tooltip:focus {opacity: 1!important;}*/

/*TOOLTIP FOR PASSWORD*/


/*finish popup*/
.modal{
    background: rgba(0, 0, 0, 0.72);
}
.modal--reg--block-header {
    display: flex;
    flex-direction: row;
    background: #f5f5f5;
    margin: -30px -30px 20px;
    padding: 20px 30px;
    border-radius: 3px 3px 0 0;
}

.modal--reg--block-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal--reg--block-header p {
    margin: 0 15px 0 0;
    padding-right: 15px;
    border-right: 1px solid #dcdcdc;

}
.modal-content .modal-body {
    position: relative;
    padding: 30px;
}

.modal-body h3 {
    font-family: Roboto;
    font-size: 1.4em;
    text-align: center;
    color: #93c025;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
}

.modal-body h4 {
    font-family: Roboto;
    margin-top: 0;
    color: #2ba6df;
    font-size: 1em;
    margin-bottom: 5px;
    text-align: center;
    line-height: 1.3;
}

.modal--reg--block-text p{
    text-align: center;
    line-height: 1.3;
    font-size: 14px;
}

.modal-body .btn {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 2px 0 #72951d;
    border-radius: 3px;
    line-height: 1;
    width: 100%;
    background: #93c025;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    border-color: #a3d529;
    white-space: normal;
    transition: 100ms background-color linear;
    animation: wobble-hor-top 2.5s infinite both;
    text-decoration: none;
}

.modal-dialog {
    width: 700px;
    /*margin: 30px auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.modal--reg--footer-text {
    text-align: center;
    margin-top: 20px;
}
.lead{
    font-size: 17px;
}

.modal--reg--block-header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.modal--reg--block-text img {
    margin: 0 auto;
    max-width: 120px;
}
@media screen and (max-width: 768px){
    .modal-dialog{
        width: 100%;
    }
    .modal .modal-dialog{
        height: 100%
    }
    .modal{
        overflow: scroll;
    }
    .modal--reg--block-header{
        padding: 5px 0px;
        text-align: center;
    }
    .modal-content .modal-body{
        padding:15px;
    }
    .modal--reg--block-text img{
        max-width:70px;
    }
}


.intl-tel-input .country-list {
    z-index: 9999 !important;
}